@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

:root {
  --color-fondo: #282828;
  --color-link: #ffd300;
  --color-fondo-claro: #353535;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  font-family:'Roboto', sans-serif;
  font-size: 1.2rem;
  color: white;
}

.background {
  min-width: 480px;
  background-image: url(./images/background.webp);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2;
}

.title-container{
  width: 100%;
  padding: 30px 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
}

.logo {
  height: 5rem;
}

div>h1 {
  font-family: 'Share Tech', sans-serif;
  margin-left: 1ch;
  font-size: 5rem;
  color: var(--color-link);
}

.background>footer{
  margin-bottom: 2rem;
}

.main-content{
  min-width: 480px;
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-fondo);
}

.main-content > :first-child {
  font-weight: bolder;
  margin-bottom: 40px;
  font-size: 1.5rem;
}

form {
  background-color: var(--color-fondo-claro);
  width: 100%;
  padding: 20px 0;
}

fieldset, #inputs {
  display: flex;
  flex-wrap: wrap;
  border: none;
}

legend {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 2rem;
}

.form-element {
  width: 24ch;
  margin-right: 60px;
  margin-bottom: 1rem;
}

label {
  font-size: 1rem;
  letter-spacing: .2rem;
}

input {
  font-size: 1.2rem;
  border-radius: 6px;
  border: 2px solid var(--color-fondo);
  margin-top: .2rem;
  padding: 5px 10px;
}

input:focus, button:hover {
  box-shadow: 0 0 5px 2px var(--color-link);
  outline: none;
  border: 2px solid var(--color-link);
}

.main-content > :last-child {
  margin-top: 40px;
}

button{
  padding: 1rem 3rem;
  margin-bottom: 	15px;
  background-color: var(--color-link);
  box-shadow: 2px 2px 10px var(--color-fondo-claro);
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

a{
  color: var(--color-link);
  font-weight: bold;
  text-decoration: none;
}

.rl-padding {
  padding-left: 10%;
  padding-right: 15%;
}

.invalid {
  background-color: violet;
}